extends layout.pug

    
block content
    head
        script(src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous")
        meta(name='access', content=token)
        meta(name='search', content=search)
    body   
    .welcome Welcome #{user.display_name}!
    .search-box
        input(id = 'sbar', type='text', placeholder='Album, Artist, Genre ')
        span
        span
    
        script.

            var albums = "";
            var input = document.getElementById("sbar");
            input.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    var aToken = document.getElementsByName('access')[0].content;
                    var search = document.getElementsByName('search')[0].content;
                $.ajax({
                    url: 'https://api.spotify.com/v1/search?q='+input.value+'r&type=album&limit=9',
                    type: 'GET',
                    headers: {
                        'Authorization' : 'Bearer ' + aToken
                    },
                    success: function(data) {
                        console.log(search);
                        if (search) {
                           const element = document.getElementById("myTable");
                            element.remove(); 
                        }
                        document.getElementsByName('search')[0].content = true;
                        console.log(search);
                        var album = data.albums.items;
                        var table = document.createElement("table");
                        table.setAttribute("id", "myTable");
                        var i = 0;
                        var j = 0;
                        var k = 0;
                        for (var r = 0; r < 3; r++) { // create DIV element 
                            var row = table.insertRow(-1);
                            for (var p = 0; p < 3; p++) { 
                            var pic = row.insertCell(-1);
                            const img = new Image(300, 400); // width, height
                            img.src = album[i].images[0].url;
                            pic.appendChild(img);
                            img.setAttribute("onclick","window.location = '/playlist';");
                            i++;
                            }
                            var row2 = table.insertRow(-1);
                            for (var p = 0; p < 3; p++) { 
                            var title = row2.insertCell(-1);
                            title.appendChild(document.createTextNode(album[j].name));
                            j++;
                            }

                            var row3 = table.insertRow(-1);
                            for (var p = 0; p < 3; p++) { 
                            var artist = row3.insertCell(-1);
                            artist.appendChild(document.createTextNode("By "+album[k].artists[0].name));
                            k++;
                            }    
                        }
                        
                        document.body.appendChild(table);
                    }
                });
                }
            }); 
            var searchBox = document.querySelectorAll('.search-box input[type="text"] + span');

            searchBox.forEach(elm => {
                elm.addEventListener('click', () => {
                elm.previousElementSibling.value = '';
                });
            });