extends layout.pug


    
block content
    h1 Welcome!!  #{user.id}
    body 
        .search-box
        input(type='text', placeholder='Album, Artist, Genre ')
        span
        script(src='/script.js')