extends layout.pug

    
block content
    head
        script(src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous")
        meta(name='access', content=token)
    body   
    .welcome Welcome #{user.display_name}!
    .search-box
        input(id = 'sbar', type='text', placeholder='Album, Artist, Genre ')
        span
        span
    
        script.
            var albums = "";
            var input = document.getElementById("sbar");
            input.addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    var aToken = document.getElementsByName('access')[0].content;
                $.ajax({
                    url: 'https://api.spotify.com/v1/search?q='+input.value+'r&type=album&limit=5',
                    type: 'GET',
                    headers: {
                        'Authorization' : 'Bearer ' + aToken
                    },
                    success: function(data) {
                        console.log(data);
                        var album = data.albums.items;

                        var x = document.createElement("TABLE");
                            x.setAttribute("id", "myTable");
                            document.body.appendChild(x);
                        
                        for (var i = 0; i < 5; i++) {
                            var y = document.createElement("TR");
                            y.setAttribute("id", "myTr");
                            document.getElementById("myTable").appendChild(y);

                            var z = document.createElement("TR");
                            var t = document.createTextNode(album[i].name);
                            z.appendChild(t);
                            document.getElementById("myTr").appendChild(z);
                        }
                        //document.write(data.albums.items[0].artists[0].name);
                    }
                });
                }
            }); 
            var searchBox = document.querySelectorAll('.search-box input[type="text"] + span');

            searchBox.forEach(elm => {
                elm.addEventListener('click', () => {
                elm.previousElementSibling.value = '';
                });
            });