extends layout.pug
block content
    body
        h1 Create Your Playlist.
        .centered
            .group
                input(type="text" id="name" required)
                label(for="name") Name
                .bar